In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../../espana_compra.csv')
df2 = pd.read_csv('../../espana_alquiler.csv')

In [4]:
df1 = df1.drop(columns=['table__cell 2','table__cell 3','table__cell 4','table__cell 5','table__cell 6','table__cell 7','icon-elbow href'])
df2 = df2.drop(columns=['table__cell 2','table__cell 3','table__cell 4','table__cell 5','table__cell 6','table__cell 7','icon-elbow href'])

In [5]:
df1 = df1.drop(df1.index[0])
df2 = df2.drop(df2.index[0])

In [6]:
df1

    table__cell         icon-elbow
1    2.083 €/m2          Andalucía
2    1.204 €/m2  Almería provincia
3    1.393 €/m2            Almería
4    1.816 €/m2    Cádiz provincia
5    2.814 €/m2              Cádiz
..          ...                ...
118  1.205 €/m2   Murcia provincia
119  1.269 €/m2             Murcia
120  1.688 €/m2            Navarra
121  1.688 €/m2            Navarra
122  2.632 €/m2     Pamplona/Iruña

[122 rows x 2 columns]

In [7]:
nuevas_nombres = {'table__cell': 'precio', 'icon-elbow': 'provincia'}
df1 = df1.rename(columns=nuevas_nombres)
df2 = df2.rename(columns=nuevas_nombres)

df1 = df1.reindex(columns=['provincia', 'precio'])
df2 = df2.reindex(columns=['provincia', 'precio'])

In [8]:
df1['precio'] = df1['precio'].str.replace('€/m2', '')
df2['precio'] = df2['precio'].str.replace('€/m2', '')

In [9]:
df1['precio'] = df1['precio'].str.replace('.', '').astype(int)
df2['precio'] = df2['precio'].str.replace(',', '.').astype(float)

In [10]:
df1

             provincia  precio
1            Andalucía    2083
2    Almería provincia    1204
3              Almería    1393
4      Cádiz provincia    1816
5                Cádiz    2814
..                 ...     ...
118   Murcia provincia    1205
119             Murcia    1269
120            Navarra    1688
121            Navarra    1688
122     Pamplona/Iruña    2632

[122 rows x 2 columns]

In [11]:
import unicodedata

df1['provincia'] = df1['provincia'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))
df2['provincia'] = df2['provincia'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [ ]:
df01 = df1[~df1['provincia'].str.contains('provincia', case=False, na=False)]
df02 = df2[~df2['provincia'].str.contains('provincia', case=False, na=False)]

In [12]:
df1 = df1[df1['provincia'].str.contains('provincia', case=False, na=False)]
df2 = df2[df2['provincia'].str.contains('provincia', case=False, na=False)]

In [13]:
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

In [14]:
df1['provincia'] = df1['provincia'].str.replace('provincia', '')
df2['provincia'] = df2['provincia'].str.replace('provincia', '')

In [17]:
provincias_faltantes = [
    'La Rioja', 'Asturias', 'Cantabria', 'Valencia', 'Alicante', 'Castellon',
    'Guipuzcoa', 'Vizcaya', 'Islas Baleares', 'Las Palmas', 'Navarra', 'Ceuta'
]

In [19]:
nuevo_df02

Empty DataFrame
Columns: [provincia, precio]
Index: []

In [ ]:
df1.provincia.unique()