In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
from datetime import datetime

In [40]:
%pip install Faker

Collecting Faker
  Obtaining dependency information for Faker from https://files.pythonhosted.org/packages/c8/3d/ed83cf090e31f5ef4d191a2e25500fc65281fb46d45f0cc224fd0f48b435/Faker-24.0.0-py3-none-any.whl.metadata
  Downloading Faker-24.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\gonzalo\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\gonzalo\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Downloading Faker-24.0.0-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.8 MB 3.2 MB/s eta 0:00:01
   ---- ----------------------------------- 0.2/1.8 MB 3.1 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/1.8 MB 3.2 MB/s eta 0:00:01
   ----------- ---------------------------- 0.5/1.8 MB 3.1 MB/s eta 0:00:01
   -------------- ------------------------- 0.6/1.8 MB 3.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 3.1 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 3.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.8 MB 3.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.2/1.8 MB 3.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.4/1.8 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 1.5/1.8 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 1.6/1.8 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 3.0 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-24.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
hist_comp_madrid_int = pd.read_csv('../../evolucion_precioporm2_madrid_centro.csv')

hist_comp_madrid_int

,table__cell,table__cell 2,table__cell 3,table__cell 4,table__cell 5,table__cell 6
0,Febrero 2024,4.268 €/m2,"+ 1,9 %","+ 5,0 %","+ 9,5 %",NaN
1,Enero 2024,4.190 €/m2,"+ 1,7 %","+ 3,1 %","+ 8,2 %",NaN
2,Diciembre 2023,4.118 €/m2,"+ 1,3 %","+ 2,0 %","+ 6,1 %",NaN
3,Noviembre 2023,4.064 €/m2,"+ 1,2 %","+ 3,8 %","0,0 %",NaN
4,Octubre 2023,4.064 €/m2,"+ 0,7 %","+ 1,6 %","+ 3,8 %",NaN
...,...,...,...,...,...,...
213,Mayo 2006,3.551 €/m2,"+ 2,1 %",n.d.,n.d.,NaN
214,Abril 2006,3.478 €/m2,NaN,n.d.,n.d.,"- 3,7 %"
215,Marzo 2006,3.609 €/m2,n.d.,n.d.,n.d.,NaN
216,Febrero 2006,n.d.,n.d.,n.d.,n.d.,NaN
217,Enero 2006,n.d.,n.d.,n.d.,n.d.,NaN

In [3]:
hist_comp_madrid_int = hist_comp_madrid_int.drop(columns=['table__cell 3','table__cell 4','table__cell 5','table__cell 6'])

In [4]:
hist_comp_madrid_int.rename(columns={'table__cell': 'fecha','table__cell 2':'€/m2'}, inplace=True)

In [5]:
hist_comp_madrid_int = hist_comp_madrid_int.iloc[:-2, :]

In [6]:
hist_comp_madrid_int['€/m2'] = hist_comp_madrid_int['€/m2'].str.replace('€/m2', '')
hist_comp_madrid_int['€/m2'] = hist_comp_madrid_int['€/m2'].str.replace('.', '')
hist_comp_madrid_int['€/m2'] = hist_comp_madrid_int['€/m2'].astype(int)

In [7]:
"""def convertir_fecha(fecha_str):
    return datetime.strptime(fecha_str, '%B %Y')

# Aplicar la función a la columna 'fecha' usando apply y lambda
hist_comp_madrid_int['fecha'] = hist_comp_madrid_int['fecha'].apply(lambda x: convertir_fecha(x))"""

"def convertir_fecha(fecha_str):\n    return datetime.strptime(fecha_str, '%B %Y')\n\n# Aplicar la función a la columna 'fecha' usando apply y lambda\nhist_comp_madrid_int['fecha'] = hist_comp_madrid_int['fecha'].apply(lambda x: convertir_fecha(x))"

In [8]:
"""hist_comp_madrid_int[['mes', 'año']] = hist_comp_madrid_int['fecha'].str.split(expand=True)
hist_comp_madrid_int = hist_comp_madrid_int.drop(columns='fecha')"""

"hist_comp_madrid_int[['mes', 'año']] = hist_comp_madrid_int['fecha'].str.split(expand=True)\nhist_comp_madrid_int = hist_comp_madrid_int.drop(columns='fecha')"

In [9]:
"""hist_comp_madrid_int = hist_comp_madrid_int[['año', 'mes', '€/m2']]"""

"hist_comp_madrid_int = hist_comp_madrid_int[['año', 'mes', '€/m2']]"

In [10]:
hist_comp_madrid_int

              fecha  €/m2
0      Febrero 2024  4268
1        Enero 2024  4190
2    Diciembre 2023  4118
3    Noviembre 2023  4064
4      Octubre 2023  4064
..              ...   ...
211      Julio 2006  3489
212      Junio 2006  3478
213       Mayo 2006  3551
214      Abril 2006  3478
215      Marzo 2006  3609

[216 rows x 2 columns]

In [11]:
#hist_comp_madrid_int['año'] = hist_comp_madrid_int['año'].astype(int)

In [12]:
hist_comp_madrid = pd.read_csv('../../evolucion_precioporm2_madrid.csv')

In [13]:
hist_alq_madrid_int = pd.read_csv('../../evolucion_alquiler_precioporm2_madrid_centro.csv')

In [14]:
hist_alq_madrid = pd.read_csv('../../evolucion_alquiler_precioporm2_madrid_comunidad.csv')

In [15]:
alquiler = pd.read_csv('../alquiler/madrid_alquiler_03.2024.csv')

alquiler

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,garaje
0,4,arganzuela,600.0,25,0,3,3,3,0
1,0,arganzuela,700.0,35,2,0,1,0,0
2,0,arganzuela,790.0,40,1,1,0,1,0
3,4,arganzuela,800.0,40,0,3,3,3,0
4,0,arganzuela,800.0,35,1,4,0,1,0
...,...,...,...,...,...,...,...,...,...
8177,0,villaverde,1465.0,45,1,6,1,1,0
8178,3,villaverde,1475.0,64,2,5,1,1,0
8179,0,villaverde,1500.0,90,4,6,1,1,0
8180,0,villaverde,1895.0,80,2,0,1,1,0
8181,0,villaverde,2300.0,65,2,1,3,0,0

In [16]:
mad_int = pd.read_csv('../venta_madrid centro/madrid_centro_compra_03.2024.csv')

mad_int

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor
0,0,villaverde,26100,59,2,3,3,0
1,0,villaverde,50600,53,3,2,3,3
2,0,villaverde,51700,60,3,3,1,0
3,0,villaverde,51700,60,3,3,3,0
4,0,villaverde,51700,59,3,4,1,0
...,...,...,...,...,...,...,...,...
17827,1,arganzuela,1250000,302,5,-4,2,2
17828,1,arganzuela,1250000,380,2,-4,2,2
17829,0,arganzuela,1300000,360,4,-3,1,1
17830,0,arganzuela,1333000,214,4,6,1,1
17831,0,arganzuela,1463000,284,4,6,1,1

In [17]:
mad_ext = pd.read_csv('../venta_madrid_ext/madrid_ext_compra_03.2024.csv')

mad_ext

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor
0,1,corredorhenares,24000,45,1,-4,2,2
1,1,corredorhenares,29900,72,2,-4,2,2
2,1,corredorhenares,47700,92,3,-4,2,2
3,1,corredorhenares,47700,92,3,-4,2,2
4,1,corredorhenares,49000,134,3,-4,2,2
...,...,...,...,...,...,...,...,...
17998,1,sureste,1400000,805,12,-4,2,2
17999,1,sureste,1400000,950,10,-4,2,2
18000,1,sureste,1500000,500,5,-4,2,2
18001,1,sureste,2000000,3000,1,-4,2,2
18002,1,sureste,2100000,600,7,-4,2,2

In [18]:
alquiler['€/m2'] = alquiler['precio'] / alquiler['superficie']

In [19]:
mad_ext['€/m2'] = mad_ext['precio'] / mad_ext['superficie']

In [20]:
mad_int['€/m2'] = mad_int['precio'] / mad_int['superficie']

In [21]:
precios = {}

for i in alquiler['zona'].unique():
    
    df = alquiler[alquiler['zona'] == i]
    
    precio_medio_m2 = df['precio'].mean() / df['superficie'].mean()
    
    precios[i] = precio_medio_m2

alquiler['zona_€/m2'] = alquiler['zona'].map(precios)

In [22]:
alquiler

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,garaje,€/m2,zona_€/m2
0,4,arganzuela,600.0,25,0,3,3,3,0,24.000000,21.037674
1,0,arganzuela,700.0,35,2,0,1,0,0,20.000000,21.037674
2,0,arganzuela,790.0,40,1,1,0,1,0,19.750000,21.037674
3,4,arganzuela,800.0,40,0,3,3,3,0,20.000000,21.037674
4,0,arganzuela,800.0,35,1,4,0,1,0,22.857143,21.037674
...,...,...,...,...,...,...,...,...,...,...,...
8177,0,villaverde,1465.0,45,1,6,1,1,0,32.555556,15.340223
8178,3,villaverde,1475.0,64,2,5,1,1,0,23.046875,15.340223
8179,0,villaverde,1500.0,90,4,6,1,1,0,16.666667,15.340223
8180,0,villaverde,1895.0,80,2,0,1,1,0,23.687500,15.340223
8181,0,villaverde,2300.0,65,2,1,3,0,0,35.384615,15.340223

In [23]:
precios = {}

for i in mad_ext['zona'].unique():
    
    df = mad_ext[mad_ext['zona'] == i]
    
    precio_medio_m2 = df['precio'].mean() / df['superficie'].mean()
    
    precios[i] = precio_medio_m2

mad_ext['zona_€/m2'] = mad_ext['zona'].map(precios)

In [24]:
mad_ext

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,€/m2,zona_€/m2
0,1,corredorhenares,24000,45,1,-4,2,2,533.333333,1351.553591
1,1,corredorhenares,29900,72,2,-4,2,2,415.277778,1351.553591
2,1,corredorhenares,47700,92,3,-4,2,2,518.478261,1351.553591
3,1,corredorhenares,47700,92,3,-4,2,2,518.478261,1351.553591
4,1,corredorhenares,49000,134,3,-4,2,2,365.671642,1351.553591
...,...,...,...,...,...,...,...,...,...,...
17998,1,sureste,1400000,805,12,-4,2,2,1739.130435,1291.265289
17999,1,sureste,1400000,950,10,-4,2,2,1473.684211,1291.265289
18000,1,sureste,1500000,500,5,-4,2,2,3000.000000,1291.265289
18001,1,sureste,2000000,3000,1,-4,2,2,666.666667,1291.265289
18002,1,sureste,2100000,600,7,-4,2,2,3500.000000,1291.265289

In [25]:
precios = {}

for i in mad_int['zona'].unique():
    
    df = mad_int[mad_int['zona'] == i]
    
    precio_medio_m2 = df['precio'].mean() / df['superficie'].mean()
    
    precios[i] = precio_medio_m2

mad_int['zona_€/m2'] = mad_int['zona'].map(precios)

In [26]:
mad_int

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,€/m2,zona_€/m2
0,0,villaverde,26100,59,2,3,3,0,442.372881,2233.461927
1,0,villaverde,50600,53,3,2,3,3,954.716981,2233.461927
2,0,villaverde,51700,60,3,3,1,0,861.666667,2233.461927
3,0,villaverde,51700,60,3,3,3,0,861.666667,2233.461927
4,0,villaverde,51700,59,3,4,1,0,876.271186,2233.461927
...,...,...,...,...,...,...,...,...,...,...
17827,1,arganzuela,1250000,302,5,-4,2,2,4139.072848,4700.675812
17828,1,arganzuela,1250000,380,2,-4,2,2,3289.473684,4700.675812
17829,0,arganzuela,1300000,360,4,-3,1,1,3611.111111,4700.675812
17830,0,arganzuela,1333000,214,4,6,1,1,6228.971963,4700.675812
17831,0,arganzuela,1463000,284,4,6,1,1,5151.408451,4700.675812

In [39]:
alquiler.head()

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,garaje,€/m2,zona_€/m2
0,4,arganzuela,600.0,25,0,3,3,3,0,24.000000,21.037674
1,0,arganzuela,700.0,35,2,0,1,0,0,20.000000,21.037674
2,0,arganzuela,790.0,40,1,1,0,1,0,19.750000,21.037674
3,4,arganzuela,800.0,40,0,3,3,3,0,20.000000,21.037674
4,0,arganzuela,800.0,35,1,4,0,1,0,22.857143,21.037674

In [38]:
import matplotlib.pyplot as plt


alquiler['superficie'].boxplot(figsize=(10, 6)) 

plt.xticks(rotation=45)
plt.title('Boxplot de todas las columnas')
plt.ylabel('Valor')

plt.show()

AttributeError: 'Series' object has no attribute 'boxplot'

In [43]:
from faker import Faker

import random

faker = Faker()

ratings = [random.randint(1, 10) for _ in range(len(df))]

ratings

[7,
 10,
 7,
 9,
 2,
 10,
 5,
 3,
 3,
 1,
 7,
 5,
 9,
 3,
 2,
 4,
 6,
 9,
 7,
 7,
 2,
 1,
 10,
 5,
 9,
 6,
 10,
 10,
 8,
 5,
 10,
 2,
 10,
 1,
 1,
 6,
 3,
 4,
 2,
 10,
 1,
 10,
 7,
 5,
 7,
 2,
 8,
 4,
 1,
 4,
 9,
 1,
 9,
 3,
 8,
 5,
 10,
 9,
 9,
 9,
 8,
 5,
 7,
 4,
 7,
 5,
 7,
 10,
 4,
 1,
 9,
 4,
 8,
 3,
 1,
 10,
 9,
 9,
 6,
 6,
 2,
 2,
 3,
 1,
 2,
 7,
 4,
 2,
 4,
 3,
 9,
 9,
 9,
 10,
 5,
 10,
 8,
 2,
 8,
 5,
 4,
 4,
 10,
 7,
 3,
 9,
 9,
 9,
 7,
 10,
 7,
 1,
 10,
 9,
 4,
 5,
 10,
 8,
 10,
 7,
 8,
 1,
 1,
 5,
 6,
 1,
 9,
 7,
 2,
 2,
 9,
 1,
 6,
 10,
 9,
 6,
 3,
 6,
 3,
 8,
 2,
 5,
 6,
 3,
 3,
 10,
 4,
 9,
 7,
 7,
 1,
 3,
 10,
 1,
 5,
 8,
 8,
 9,
 1,
 10,
 5,
 8,
 7,
 9,
 3,
 10,
 6,
 7,
 5,
 2,
 5,
 4,
 8,
 2,
 7,
 8,
 10,
 2,
 9,
 3,
 8,
 2,
 2,
 8,
 9,
 3,
 5,
 8,
 7,
 6,
 5,
 7,
 2,
 5,
 10,
 8,
 9,
 3,
 3,
 4,
 3,
 4,
 2,
 10,
 3,
 1,
 7,
 7,
 3,
 6,
 1,
 8,
 9,
 9,
 5,
 7,
 3,
 8,
 6,
 10,
 9,
 1,
 1,
 1,
 3,
 7,
 10,
 7,
 4,
 5,
 7,
 7,
 3,
 7,
 8,
 2,
 10,
 3,
 5,
 6,
 8,
 5,
 1,
 9,
 3,
 7,
 3,
 6,
 9,
 6,
 9,
 4,
 7,
 5,
 3,
 3,
 10,
 7,
 6,
 10,
 5,
 1,
 6,
 10,
 1,
 2,
 2,
 10,
 2,
 1,
 10,
 5,
 7,
 6,
 4,
 10,
 6,
 5,
 7,
 3,
 5,
 4,
 6,
 6,
 5,
 1,
 8,
 9,
 2,
 2,
 4,
 1,
 2,
 1,
 2,
 10,
 1,
 7,
 3,
 2,
 8,
 8,
 5,
 10,
 6,
 7,
 4,
 5,
 1,
 9,
 9,
 8,
 6,
 10,
 10,
 5,
 1,
 9,
 5,
 4,
 8,
 7,
 5,
 6,
 9,
 2,
 3,
 9,
 4,
 9,
 3,
 9,
 4,
 4,
 4,
 7,
 4,
 3,
 5,
 2,
 4,
 2,
 2,
 9,
 9,
 10,
 5,
 2,
 5,
 10,
 6,
 5,
 3,
 1,
 7,
 3,
 7,
 3,
 4,
 9,
 2,
 1,
 7,
 10,
 1,
 1,
 6,
 1,
 6,
 7,
 5,
 9,
 10,
 7,
 2,
 7,
 8,
 10,
 8,
 6,
 1,
 6,
 10,
 7,
 3,
 7,
 8,
 9,
 5,
 6,
 9,
 3,
 7,
 10,
 8,
 7,
 5,
 2,
 5,
 2,
 10,
 6,
 10,
 6,
 1,
 6,
 1,
 5,
 5,
 6,
 10,
 2,
 1,
 4,
 6,
 2,
 9,
 3,
 8,
 7,
 5,
 8,
 2,
 6,
 3,
 6,
 10,
 2,
 3,
 2,
 8,
 10,
 1,
 1,
 6,
 1,
 3,
 8,
 5,
 2,
 3,
 3,
 8,
 9,
 6,
 9,
 3,
 7,
 1,
 5,
 1,
 3,
 7,
 10,
 6,
 3,
 1,
 8,
 3,
 2,
 3,
 1,
 8,
 6,
 1,
 1,
 7,
 7,
 8,
 3,
 9,
 6,
 4,
 10,
 7,
 1,
 6,
 3,
 1,
 2,
 8,
 3,
 2,
 6,
 2,
 7,
 2,
 7,
 7,
 7,
 2,
 3,
 3,
 4,
 1,
 1,
 4,
 10,
 1,
 10,
 9,
 4,
 3,
 7,
 2,
 1,
 3,
 6,
 8,
 9,
 9,
 3,
 10,
 4,
 4,
 1,
 7,
 1,
 7,
 6,
 6,
 6,
 1,
 9,
 10,
 10,
 4,
 2,
 7,
 9,
 2,
 8,
 10,
 5,
 2,
 1,
 4,
 2,
 3,
 2,
 9,
 5,
 5,
 10,
 1,
 3,
 10,
 6,
 10,
 6,
 4,
 1,
 4,
 4,
 9,
 5,
 7,
 8,
 10,
 7,
 3,
 3,
 5,
 8,
 4,
 5,
 10,
 1,
 8,
 7,
 6,
 2,
 9,
 9,
 1,
 8,
 10,
 8,
 5,
 9,
 4,
 3,
 2,
 4,
 9,
 8,
 4,
 5,
 6,
 5,
 5,
 1,
 7,
 1,
 6,
 6,
 4,
 4,
 4,
 8,
 9,
 5,
 2,
 6,
 5,
 2,
 9,
 1,
 2,
 2,
 6,
 2,
 4,
 7,
 2,
 9,
 8,
 8,
 2,
 5,
 6,
 6,
 7,
 10,
 10,
 3,
 3,
 7,
 3,
 3,
 5,
 4,
 4,
 10,
 4,
 10,
 2,
 4,
 8,
 4,
 4,
 7,
 3,
 7,
 5,
 9,
 7,
 3,
 1,
 3,
 9,
 4,
 2,
 2,
 1,
 1,
 1,
 10,
 8,
 1,
 1,
 1,
 4,
 7,
 8,
 4,
 1,
 2,
 10,
 6,
 9,
 9,
 6,
 6,
 7,
 3,
 8,
 10,
 4,
 2,
 9,
 5,
 3,
 7,
 7,
 3,
 10,
 1,
 8,
 1,
 6,
 9,
 10,
 5,
 6,
 5,
 6,
 5,
 9,
 3,
 1,
 6,
 10,
 7,
 7,
 5,
 3,
 8,
 9,
 2,
 5,
 9,
 8,
 1,
 5,
 5,
 8,
 9,
 5,
 10,
 2,
 10,
 10,
 10,
 7,
 4,
 5,
 1,
 5,
 4,
 3,
 2,
 6,
 3,
 1,
 3,
 8,
 2,
 6,
 4,
 2,
 8,
 8,
 9,
 2,
 5,
 9,
 1,
 8,
 2,
 10,
 7,
 7,
 5,
 5,
 9,
 3,
 1,
 1,
 2,
 10,
 2,
 6,
 4,
 9,
 1,
 9,
 4,
 2,
 8,
 1,
 3,
 9,
 3,
 2,
 2,
 1,
 2,
 2,
 3,
 4,
 6,
 7,
 10,
 8,
 3,
 4,
 2,
 3,
 10,
 8,
 5,
 1,
 7,
 4,
 2,
 6,
 10,
 6,
 6,
 6,
 8,
 10,
 10,
 9,
 3,
 4,
 2,
 8,
 10,
 4,
 1,
 2,
 4,
 5,
 1,
 4,
 2,
 2,
 9,
 5,
 10,
 2,
 1,
 1,
 1,
 7,
 2,
 5,
 2,
 9,
 10,
 1,
 7,
 5,
 9,
 8,
 3,
 9,
 2,
 10,
 4,
 4,
 6,
 2,
 4,
 4,
 7,
 9,
 9,
 6,
 1,
 3,
 7,
 8,
 10,
 3,
 3,
 6,
 9,
 5,
 1,
 4,
 10,
 6,
 10,
 10,
 5,
 10,
 5,
 7,
 2,
 7,
 6,
 3,
 7,
 7,
 9,
 1,
 9,
 9,
 1,
 7,
 5,
 10,
 10,
 10,
 5,
 9,
 6,
 8,
 1,
 7,
 8,
 6,
 1,
 2,
 9,
 4,
 5,
 3,
 3,
 9,
 10,
 8,
 6,
 4,
 8,
 2,
 9,
 2,
 10,
 8,
 9,
 7,
 10,
 6,
 5,
 9,
 10,
 9,
 1,
 1,
 3,
 2,
 8,
 10,
 2,
 3,
 1,
 6,
 7,
 5,
 2,
 8,
 4,
 6,
 4,
 2,
 4,
 2,
 8,
 10,
 5,
 4,
 7,
 7,
 10,
 7,
 7,
 6,
 3,
 10,
 10,
 8,
 10,
 1,
 4,
 6,
 7,
 1,
 5,
 7,
 1,
 9,
 4,
 3,
 7,
 6,
 10,
 10,
 3,
 8,
 1,
 2,
 3,
 5,
 4,
 4,
 4,
 6,
 1,
 2,
 8,
 4,
 9,
 9,
 6,
 9,
 9,
 8,
 8,
 4,
 10,
 2,
 4,
 1,
 4,
 1,
 6,
 ...]

In [ ]:
df['rating'] = ratings

In [27]:
alquiler.to_csv('alquiler_limp.csv', index=False)

In [28]:
mad_int.to_csv('mad_int_limp.csv', index=False)

In [29]:
mad_ext.to_csv('mad_ext_limp.csv', index=False)