In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [6]:
alquiler = pd.read_csv('../alquiler/madrid_alquiler_03.2024.csv')

alquiler

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,garaje
0,4,arganzuela,600.0,25,0,3,3,3,0
1,0,arganzuela,700.0,35,2,0,1,0,0
2,0,arganzuela,790.0,40,1,1,0,1,0
3,4,arganzuela,800.0,40,0,3,3,3,0
4,0,arganzuela,800.0,35,1,4,0,1,0
...,...,...,...,...,...,...,...,...,...
8177,0,villaverde,1465.0,45,1,6,1,1,0
8178,3,villaverde,1475.0,64,2,5,1,1,0
8179,0,villaverde,1500.0,90,4,6,1,1,0
8180,0,villaverde,1895.0,80,2,0,1,1,0
8181,0,villaverde,2300.0,65,2,1,3,0,0

In [7]:
mad_int = pd.read_csv('../venta_madrid centro/madrid_centro_compra_03.2024.csv')

mad_int

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor
0,0,villaverde,26100,59,2,3,3,0
1,0,villaverde,50600,53,3,2,3,3
2,0,villaverde,51700,60,3,3,1,0
3,0,villaverde,51700,60,3,3,3,0
4,0,villaverde,51700,59,3,4,1,0
...,...,...,...,...,...,...,...,...
17827,1,arganzuela,1250000,302,5,-4,2,2
17828,1,arganzuela,1250000,380,2,-4,2,2
17829,0,arganzuela,1300000,360,4,-3,1,1
17830,0,arganzuela,1333000,214,4,6,1,1
17831,0,arganzuela,1463000,284,4,6,1,1

In [8]:
mad_ext = pd.read_csv('../venta_madrid_ext/madrid_ext_compra_03.2024.csv')

mad_ext

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor
0,1,corredorhenares,24000,45,1,-4,2,2
1,1,corredorhenares,29900,72,2,-4,2,2
2,1,corredorhenares,47700,92,3,-4,2,2
3,1,corredorhenares,47700,92,3,-4,2,2
4,1,corredorhenares,49000,134,3,-4,2,2
...,...,...,...,...,...,...,...,...
17998,1,sureste,1400000,805,12,-4,2,2
17999,1,sureste,1400000,950,10,-4,2,2
18000,1,sureste,1500000,500,5,-4,2,2
18001,1,sureste,2000000,3000,1,-4,2,2
18002,1,sureste,2100000,600,7,-4,2,2