In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
from datetime import datetime

In [2]:
mad_total = pd.read_csv('../analisis_exploratorio/mad_total_limp.csv')

In [5]:
mad_centro = pd.read_csv('../analisis_exploratorio/mad_int_limp.csv')

In [7]:
mad_exterior = pd.read_csv('../analisis_exploratorio/mad_ext_limp.csv')

In [4]:
alquiler = pd.read_csv('../analisis_exploratorio/alquiler_limp.csv')

In [8]:
mad_total

,descripcion,zona,distrito,precio,superficie,habitaciones,plantas,caract,ascensor,€/m2,distrito_€/m2,media_alq
0,0,central,villaverde,26100,59,2,3,3,0,442.372881,2233.461927,1022.743902
1,0,central,villaverde,50600,53,3,2,3,3,954.716981,2233.461927,1022.743902
2,0,central,villaverde,51700,60,3,3,1,0,861.666667,2233.461927,1022.743902
3,0,central,villaverde,51700,60,3,3,3,0,861.666667,2233.461927,1022.743902
4,0,central,villaverde,51700,59,3,4,1,0,876.271186,2233.461927,1022.743902
...,...,...,...,...,...,...,...,...,...,...,...,...
35779,1,exterior,sureste,1400000,805,12,-4,2,2,1739.130435,1291.265289,1140.373626
35780,1,exterior,sureste,1400000,950,10,-4,2,2,1473.684211,1291.265289,1140.373626
35781,1,exterior,sureste,1500000,500,5,-4,2,2,3000.000000,1291.265289,1140.373626
35782,1,exterior,sureste,2000000,3000,1,-4,2,2,666.666667,1291.265289,1140.373626
35783,1,exterior,sureste,2100000,600,7,-4,2,2,3500.000000,1291.265289,1140.373626

In [ ]:
mad_total = mad_total.drop(columns=['distrito_€/m2','€/m2'])