In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [2]:
alquiler = pd.read_csv('../analisis_exploratorio/alquiler_limp.csv')
mad_int = pd.read_csv('../analisis_exploratorio/mad_int_limp.csv')
mad_ext = pd.read_csv('../analisis_exploratorio/mad_ext_limp.csv')

In [3]:
alquiler['rating'] = ''

In [7]:
alquiler

,descripcion,zona,precio,superficie,habitaciones,plantas,caract,ascensor,garaje,€/m2,zona_€/m2,rating
0,4,arganzuela,600.0,25,0,3,3,3,0,24.000000,21.037674,
1,0,arganzuela,700.0,35,2,0,1,0,0,20.000000,21.037674,
2,0,arganzuela,790.0,40,1,1,0,1,0,19.750000,21.037674,
3,4,arganzuela,800.0,40,0,3,3,3,0,20.000000,21.037674,
4,0,arganzuela,800.0,35,1,4,0,1,0,22.857143,21.037674,
...,...,...,...,...,...,...,...,...,...,...,...,...
8177,0,villaverde,1465.0,45,1,6,1,1,0,32.555556,15.340223,
8178,3,villaverde,1475.0,64,2,5,1,1,0,23.046875,15.340223,
8179,0,villaverde,1500.0,90,4,6,1,1,0,16.666667,15.340223,
8180,0,villaverde,1895.0,80,2,0,1,1,0,23.687500,15.340223,
8181,0,villaverde,2300.0,65,2,1,3,0,0,35.384615,15.340223,

In [20]:
alquiler.loc[(alquiler['€/m2'] >= alquiler['zona_€/m2']) & (alquiler['ascensor']==0) & (alquiler['plantas'].isin([-2, -1, 0, 1])), 'rating'] = 1
alquiler.loc[(alquiler['€/m2'] >= alquiler['zona_€/m2']) & (alquiler['ascensor']==1) & (alquiler['plantas'].isin([range(2,30)]) & (alquiler['caract']==1)), 'rating'] = 2

In [21]:
alquiler.rating.value_counts()

rating
     7777
1     405
Name: count, dtype: int64

TypeError: type 'range' is not subscriptable